* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.chat-side {
  width: 300px;
  background-color: #253141;
  height: 100%;
}

.chat-main {
  width: calc(100vw - 300px);
  background-color: #ffffff;
  height: 100%;
}

.chat-side {
  list-style: none;
  &__side-header {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    &__side-box {
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      &__user-name {
        font-size: 15px;
        color: #ffffff
      }
      &__menu {
        display: flex;
        list-style: none;
        li {
          margin-left: 5px;
        }
        i {
          color: #ffffff;
        }
      }
    }
  }
  &__groups {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 20px ;
    box-sizing: border-box;
    .group {
      color: white;
      text-decoration: none;
      margin-bottom: 40px;
      p.group__name {
        margin-bottom: 5px;
        font-size: 15px;
      }
      p.group__message {
        font-size: 11px;
      }
    }
  }
}

.chat-main {
  list-style: none;
  &__main-header {
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    &__leftbox {
      padding-top: 35px;
      padding-left: 40px;
      p.chat-main__main-header__leftbox__group-name {
        font-size: 20px;
        color: #333333;
        font-weight: bold;
      }
      ul.chat-main__main-header__leftbox__member {
        font-size: 12px;
        color: #999999;
        padding-top: 15px;
        font-weight: bold;
        display: flex;
        li.chat-main__main-header__leftbox__member__member-list {
          padding-left: 10px;
        }
      }
    }
    &__rightbox {
      color: #38aef0;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px #38aef0;
      position: absolute;
      right: 40px;
      .Editlink {
        text-decoration: none;
        color: #38aef0;
      }
    }
  }
  &__messages {
    background-color: #fafafa;
    height: calc(100vh - 190px);
    overflow: scroll;
    display: flex;
    flex-direction: column;;
    padding: 46px 40px;
    &__upper-message {
      display: flex;
      &__user-name {
        color: #333333;
        font-size: 16px;
        font-weight: bold;
      }
      &__date {
        color: #999999;
        font-size: 12px;
        margin-left: 10px;
      }
    }
    &__lower-message {
      color: #434A54;
      font-size: 14px;
      margin-top: 12px;
      padding-bottom: 35px;
    }
  }
  &__form {
    background-color: #d2d2d2;
    height: 90px;
    // display: flex;
    // justify-content: space-between;
    // padding: 0 40px;
    // align-items: center;
    
    &__form1{
      display: flex;
      justify-content: space-between;
      padding: 20px 40px;
      align-items: center;
    }

    &__message {
      height: 50px;
      background-color: #fafafa;
      position: relative;
      width: 100%;
      //padding: 0 40px 0 10px;
      
      &__input-text {
        color: #999999;
        //position: absolute;
        //top: 30%;
        width: 100%;
        height: 50px;
        padding: 0 40px 0 10px;
      }
      label {
        position: absolute;
        top: 30%;
        right: 10px;
        font-size: 1.3rem;
        input {
          display: none;
        }
      }
    &__submit-btn {
        width: 100px;
        height: 50px;
        background-color:#38aef0;
        color: white;
        margin-left: 15px;
        text-align: center;
        line-height: 50px;
      }
    }
  }
}
